* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #60646c;
  line-height: 1.618;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 81em;
}
.title {
  text-align: center;
  margin: 50px 0 15px 0;
}
.card-box {
  float: left;
  text-align: center;
  width: 25%;
}
.card-box__header {
  background-color: #f0f2f5;
  float: left;
  margin: 0 1%;
  padding: 27px 10% 27px;
  width: 98%;
}
.card-box__body {
  background-color: #ffffff;
  float: left;
  margin: 0 1%;
  padding: 40px 10% 30px;
  width: 98%;
}
h1,
.price-text {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0 0 0.618em;
}

.column2 h2 {
  font-weight: 500;
}
h2,
.beta {
  font-size: 2.5em;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin: 0;
  font-weight: 300;
}

.next-to-h2 {
  font-size: 0.8em;
  font-weight: 300;
}

p {
  margin: 0 0 1.618em;
  font-family: "Roboto", sans-serif;
}

a.pricing-button {
  background-color: #ffc600;
  color: #6d430a;
}

a.pricing-button:hover {
  background-color: #ffa200;
}

.pricing-button {
  border: 0 none #60646c;
  border-radius: 5px;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  outline: medium none;
  padding: 1.2em 1.7em;
  text-decoration: none;
  text-shadow: none;
}

.card-box__header {
  background-color: #f0f2f5;
  float: left;
  margin: 0 1%;
  padding: 27px 10% 27px;
  width: 98%;
}

.save {
  font-weight: 300;
  margin: 0 0 0.618em;
  font-size: 1.3em;
}

.price {
  font-weight: 500;
  margin: 0 0 0.618em;
  font-size: 1.6em;
}

.table-title {
  text-align: center;
  margin: 50px 0 15px 0;
}

hr {
  background-color: #ccc;
  border: 0 none;
  height: 1px;
  margin: 0 auto 30px;
}
.triangles {
  background-image: url("images/triangles.png");
  background-color: #2c1b73;
}
